@import "tailwindcss";

@theme {
    /* Colors Pallete */
    --color-hero: #74C69D;
    --color-darker: #212529;

    /* Text size family */

    /* Font family */
    --font-worksans: WorkSans, sans-serif;
    --font-crimson: CrimsonPro, serif;
}
